In [6]:
import os
import pickle
import time
#import torch

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from tqdm import tqdm
from DataClasses import lmdb_dataset

In [2]:
test_dataset_str = "~/Documents/GitHub/ocp_datasets/data/is2re_test_challenge_2021/data.lmdb"
test_dataset_path = os.path.expanduser(test_dataset_str)

In [18]:
metadata_str = "~/Documents/GitHub/ocp_datasets/data/is2re_test_challenge_2021/metadata.npz"
metadata_path = os.path.expanduser(metadata_str)
metadata_raw = np.load(metadata_path)
metadata_raw.files
# for item in metadata_raw.files:
#     print(f'{item}: {metadata_raw[item]}')
metadata = pd.DataFrame.from_dict(metadata_raw, orient='index').T
metadata

        natoms  neighbors
0           66       1554
1           71       2114
2           66       1856
3           75       3364
4           70       2628
...        ...        ...
119995      81       2708
119996      78       1814
119997      50       1106
119998      78       3511
119999      60       1796

[120000 rows x 2 columns]

In [4]:
test_dataset = lmdb_dataset(test_dataset_path)

In [9]:
test_dataset.describe(0)

total entries: 120000
info for item: 0
edge_index:............... [2, 1554]
pos:......................   [66, 3]
cell:..................... [1, 3, 3]
atomic_numbers:...........      [66]
natoms:...................        66
cell_offsets:............. [1554, 3]
distances:................    [1554]
fixed:....................      [66]
sid:......................         0
tags:.....................      [66]